*.ami
*.la
*.lo
*.m4
*.ybc
*.pot
.dep
.deps
.libs
package/*.bz2
package/*.spec
stamp-h*
aclocal.m4
autodocs-cc.ami
autodocs-cc-base.ami
autodocs-cc-off.ami
autodocs-ycp.ami
autom4te.cache
config.cache
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
configure.in
COPYING
COPYRIGHT.english
depcomp
install-sh
libtool
ltconfig
ltmain.sh
Makefile
Makefile.am
Makefile.am.common
Makefile.in
missing
mkinstalldirs
OUTPUT
OUTPUT2
pluglib-bindings.ami
README
