
# Object files
*.o

# Libraries
*.lib

# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.so.*

# Compiled Static libraries
*.lai
*.la
*.a

# CMake
CMakeCache.txt
CMakeFiles
CMakeDoxyfile.in
Doxyfile
Doxygen.warnings
Makefile

build*/

*~
*.bak
*.auto

